<!-- <mat-grid-list
  cols="4"
  rowHeight="200px"
  gutterSize="1em"
  style="margin: 1em 1em 0 1em"
>
  <mat-grid-tile>
    <mat-card style="width: 98%; height: 98%">
      <mat-card-header>
        <mat-card-title>VIDA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <fa-icon [icon]="faCoffee"></fa-icon>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 98%; height: 98%">
      <mat-card-header>
        <mat-card-title>FORMACION</mat-card-title>
      </mat-card-header>
      <mat-card-content> CONTENT </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 98%; height: 98%">
      <mat-card-header>
        <mat-card-title>TRABAJO</mat-card-title>
      </mat-card-header>
      <mat-card-content> CONTENT </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 98%; height: 98%">
      <mat-card-header>
        <mat-card-title>PROYECTOS</mat-card-title>
      </mat-card-header>
      <mat-card-content> CONTENT </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<app-gitgraph-cv></app-gitgraph-cv>
