<h2 class="handwrite sidenav-title">BLOG</h2>
<mat-tree
  #tree
  class="nav-tree handwrite"
  [dataSource]="dataSource"
  [treeControl]="treeControl"
>
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <kng-icon [icon]="node.icon"></kng-icon>
    {{ node.name }}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <kng-icon [icon]="node.icon"></kng-icon>
    {{ node.name }}
  </mat-tree-node>
</mat-tree>
