<app-toolbar></app-toolbar>
<main class="main">
  <mat-sidenav-container class="fit-sidenav">
    <app-sidenav></app-sidenav>
    <mat-sidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav *ngIf="this.isBig" mode="side" position="end" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer class="primary-footer">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="handwrite">© 2023 kpucha.dev</span>
  </mat-toolbar>
</footer>
