<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains {{ num }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg"
        />
        <mat-card-content>
          <p>The Himalayas is a mountain range in Asia.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
