@import "assets/theming/theming";
@import "assets/theming/variables";
@import "assets/theming/keyframes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
